<div class="form-group">
  <label for="entityForm.article">article</label>
  <input type="text" class="form-control" id="entityForm.article" placeholder="article" ng-model="entity.article" required>
</div>
<div class="form-group">
  <label for="entityForm.name">name</label>
  <input type="text" class="form-control" id="entityForm.name" placeholder="name" ng-model="entity.name" required>
</div>
<div class="form-group">
  <label for="entityForm.price">price</label>
  <input type="number" class="form-control" id="entityForm.price" placeholder="price" ng-model="entity.price">
</div>
<div class="form-group">
  <label for="entityForm.currency">currency</label>
  <input type="text" class="form-control" id="entityForm.currency" placeholder="currency" ng-model="entity.currency">
</div>
<div class="form-group">
  <label for="entityForm.description">description</label>
  <input type="text" class="form-control" id="entityForm.description" placeholder="description" ng-model="entity.description">
</div>
<div class="form-group">
  <label for="entityForm.categoryId">categoryId</label>
  <input type="number" class="form-control" id="entityForm.categoryId" placeholder="categoryId" ng-model="entity.categoryId">
</div>
<div class="form-group">
  <label for="entityForm.producerId">producerId</label>
  <input type="number" class="form-control" id="entityForm.producerId" placeholder="producerId" ng-model="entity.producerId">
</div>
<div class="form-group">
  <label for="entityForm.providerId">providerId</label>
  <input type="number" class="form-control" id="entityForm.providerId" placeholder="providerId" ng-model="entity.providerId">
</div>
<div class="form-group">
  <label for="entityForm.comments">comments</label>
  <input type="text" class="form-control" id="entityForm.comments" placeholder="comments" ng-model="entity.comments">
</div>
