<div class="form-group">
  <label for="entityForm.organization_name">Название Организаций</label>
  <input type="text" class="form-control" id="entityForm.organization_name" placeholder="organization_name" ng-model="entity.organization_name" required>
</div>
<div class="form-group">
  <label for="entityForm.legal_name">Юридическое название</label>
  <input type="text" class="form-control" id="entityForm.legal_name" placeholder="legal_name" ng-model="entity.legal_name">
</div>
<div class="form-group">
  <label for="entityForm.inn">ИНН</label>
  <input type="number" class="form-control" id="entityForm.inn" placeholder="inn" ng-model="entity.inn">
</div>
<div class="form-group">
  <label for="entityForm.requeriments">Реквизиты</label>
  <input type="text" class="form-control" id="entityForm.requeriments" placeholder="requeriments" ng-model="entity.requeriments">
</div>
<div class="form-group">
  <label for="entityForm.telephone">Телефон</label>
  <input type="text" class="form-control" id="entityForm.telephone" placeholder="telephone" ng-model="entity.telephone">
</div>
<div class="form-group">
  <label for="entityForm.address">Адрес</label>
  <input type="text" class="form-control" id="entityForm.address" placeholder="address" ng-model="entity.address">
</div>
<div class="form-group">
  <label for="entityForm.email">Почта</label>
  <input type="email" class="form-control" id="entityForm.email" placeholder="email" ng-model="entity.email">
</div>
<div class="form-group">
  <label for="entityForm.comments">Коментарий</label>
  <input type="email" class="form-control" id="entityForm.comments" placeholder="comments" ng-model="entity.comments">
</div>