<table>
  <tr>
    <td><img ng-src="/logo.png" height="77px" width="200"></td>
    <td>
      <table>
        <tr><td>Заказ № {{commprop.id}}</td></tr>
        <tr><td>{{commprop.client.first_name}} {{commprop.client.last_name}}</td></tr>
        <tr><td>от {{commprop.createdAt | date: "yyyy MMM dd"}}</td></tr>
        <tr><td>Отправил {{manager.name}}, {{manager.telephone}}</td></tr>
      </table>
    </td>
  </tr>
</table>
<table class="table">
  <thead>
    <th>Название</th>
    <th>Производитель</th>
    <th>Цена</th>
    <th>Количество</th>
    <th>Итого</th>
<!--    <th></th>-->
  </thead>
  <tbody>
    <tr ng-repeat="good in goods">
      <td>{{good.good.name}}</td>
      <td>{{good.good.provider.organization_name}}</td>
      <td>${{good.price}}</td>
      <td>{{good.quantity}} шт</td>
      <td>${{good.quantity*good.price}}</td>
      <td><img ng-repeat="photo in good.photos" ng-src={{photo.path|goodsphotosreplacethumb}} class="img-responsive" alt="Responsive image"></td>
    </tr>
    <tr>
      <td colspan="3">Итого</td>
      <td>{{totalCount}} шт</td>
      <td>${{totalPrice}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
<br>
<br>
г. Казань, Ул. Достоевского 66<br>
Salon PREMI<br>
+7 (843) 238-46-51<br>
<br>