Заказ № {{commprop.id}}<br>
{{commprop.client.first_name}} {{commprop.client.last_name}}<br>
{{commprop.broker.first_name}} {{commprop.broker.middle_name}} {{commprop.broker.last_name}}<br>
от {{commprop.createdAt | date: "yyyy MMM dd"}}

<table class="table">
  <thead>
    <th>Название</th>
    <th>Производитель</th>
    <th>Цена</th>
    <th>Количество</th>
    <th>Подитог</th>
<!--    <th></th>-->
  </thead>
  <tbody>
    <tr ng-repeat="good in goods">
      <td>{{good.good.name}}</td>
      <td>{{good.good.manufacturer}}</td>
      <td>${{good.good.price}}</td>
      <td>{{good.quantity}} шт</td>
      <td>${{good.quantity*good.good.price}}</td>
      <td><img ng-repeat="photo in good.photos" ng-src={{photo.path|goodsphotosreplace}} class="img-responsive" alt="Responsive image"></td>
    </tr>
    <tr>
      <td colspan="3">Итого</td>
      <td>{{totalCount}} шт</td>
      <td>${{totalPrice}}</td>
      <td></td>
    </tr>
  </tbody>
</table>