<div class="form-group">
  <label for="entityForm.first_name">Имя</label>
  <input type="text" class="form-control" id="entityForm.first_name" placeholder="first_name" ng-model="entity.first_name" required>
</div>
<div class="form-group">
  <label for="entityForm.middle_name">Отчество</label>
  <input type="text" class="form-control" id="entityForm.middle_name" placeholder="middle_name" ng-model="entity.middle_name">
</div>
<div class="form-group">
  <label for="entityForm.last_name">Фамилия</label>
  <input type="text" class="form-control" id="entityForm.last_name" placeholder="last_name" ng-model="entity.last_name">
</div>
<div class="form-group">
  <label for="entityForm.passport">Паспорт</label>
  <input type="text" class="form-control" id="entityForm.passport" placeholder="passport" ng-model="entity.passport">
</div>
<div class="form-group">
  <label for="entityForm.birth_date">Дата рождения</label>
  <div class='input-group date'>
    <input type='text' class="form-control" datetimepicker format="MMMM DD, YYYY" ng-model="entity.birth_date" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>
<div class="form-group">
  <label for="entityForm.telephone">Телефон</label>
  <input type="text" class="form-control" id="entityForm.telephone" placeholder="telephone" ng-model="entity.telephone">
</div>
<div class="form-group">
  <label for="entityForm.address">Адрес</label>
  <input type="text" class="form-control" id="entityForm.address" placeholder="address" ng-model="entity.address">
</div>
<div class="form-group">
  <label for="entityForm.email">Почта</label>
  <input type="email" class="form-control" id="entityForm.email" placeholder="Электронная почта" ng-model="entity.email">
</div>
<div class="form-group">
  <label for="entityForm.comments">Комментарий</label>
  <input type="comments" class="form-control" id="entityForm.comments" placeholder="Электронная почта" ng-model="entity.comments">
</div>
