<div class="form-group">
  <label for="entityForm.first_name">first_name</label>
  <input type="text" class="form-control" id="entityForm.first_name" placeholder="first_name" ng-model="entity.first_name" required>
</div>
<div class="form-group">
  <label for="entityForm.middle_name">middle_name</label>
  <input type="text" class="form-control" id="entityForm.middle_name" placeholder="middle_name" ng-model="entity.middle_name">
</div>
<div class="form-group">
  <label for="entityForm.last_name">last_name</label>
  <input type="text" class="form-control" id="entityForm.last_name" placeholder="last_name" ng-model="entity.last_name">
</div>
<div class="form-group">
  <label for="entityForm.birth_date">birth_date</label>
  <input type="text" class="form-control" id="entityForm.birth_date" placeholder="birth_date" ng-model="entity.birth_date">
</div>
<div class="form-group">
  <label for="entityForm.passport">passport</label>
  <input type="text" class="form-control" id="entityForm.passport" placeholder="passport" ng-model="entity.passport">
</div>
<div class="form-group">
  <label for="entityForm.telephone">telephone</label>
  <input type="text" class="form-control" id="entityForm.telephone" placeholder="telephone" ng-model="entity.telephone">
</div>
<div class="form-group">
  <label for="entityForm.address">address</label>
  <input type="text" class="form-control" id="entityForm.address" placeholder="address" ng-model="entity.address">
</div>
<div class="form-group">
  <label for="entityForm.email">email</label>
  <input type="email" class="form-control" id="entityForm.email" placeholder="Электронная почта" ng-model="entity.email">
</div>
<div class="form-group">
  <label for="entityForm.comments">comments</label>
  <input type="comments" class="form-control" id="entityForm.comments" placeholder="Электронная почта" ng-model="entity.comments">
</div>
