<div class="form-group">
  <label for="entityForm.type">type</label>
  <select class="form-control" ng-model="entity.type" id="entityForm.type">
    <option value="natural">Физ-лицо</option>
    <option value="legal">Юр-лицо</option>
  </select>
</div>
<div ng-show="naturalPerson">
  <div class="form-group">
    <label for="entityForm.first_name">first_name</label>
    <input type="text" class="form-control" id="entityForm.first_name" placeholder="first_name" ng-model="entity.first_name">
  </div>
  <div class="form-group">
    <label for="entityForm.middle_name">middle_name</label>
    <input type="text" class="form-control" id="entityForm.middle_name" placeholder="middle_name" ng-model="entity.middle_name">
  </div>
  <div class="form-group">
    <label for="entityForm.last_name">last_name</label>
    <input type="text" class="form-control" id="entityForm.last_name" placeholder="last_name" ng-model="entity.last_name">
  </div>
  <div class="form-group">
    <label for="entityForm.passport">passport</label>
    <input type="text" class="form-control" id="entityForm.passport" placeholder="passport" ng-model="entity.passport">
  </div>
  <div class="form-group">
    <label for="entityForm.birth_date">birth_date</label>
    <div class='input-group date'>
      <input type='text' class="form-control" datetimepicker format="MMMM DD, YYYY" ng-model="entity.birth_date">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
</div>
<div ng-show="legalPerson">
  <div class="form-group">
    <label for="entityForm.organization_name">organization_name</label>
    <input type="text" class="form-control" id="entityForm.organization_name" placeholder="organization_name" ng-model="entity.organization_name">
  </div>
  <div class="form-group">
    <label for="entityForm.legal_name">legal_name</label>
    <input type="text" class="form-control" id="entityForm.legal_name" placeholder="legal_name" ng-model="entity.legal_name">
  </div>
  <div class="form-group">
    <label for="entityForm.inn">inn</label>
    <input type="number" class="form-control" id="entityForm.inn" placeholder="inn" ng-model="entity.inn">
  </div>
  <div class="form-group">
    <label for="entityForm.requeriments">requeriments</label>
    <input type="text" class="form-control" id="entityForm.requeriments" placeholder="requeriments" ng-model="entity.requeriments">
  </div>
</div>
<div class="form-group">
  <label for="entityForm.telephone">telephone</label>
  <input type="text" class="form-control" id="entityForm.telephone" placeholder="telephone" ng-model="entity.telephone">
</div>
<div class="form-group">
  <label for="entityForm.address">address</label>
  <input type="text" class="form-control" id="entityForm.address" placeholder="address" ng-model="entity.address">
</div>
<div class="form-group">
  <label for="entityForm.email">email</label>
  <input type="email" class="form-control" id="entityForm.email" placeholder="Электронная почта" ng-model="entity.email">
</div>
<div class="form-group">
  <label for="entityForm.comments">comments</label>
  <input type="text" class="form-control" id="entityForm.comments" placeholder="comments" ng-model="entity.comments">
</div>
