<div class="form-group">
  <label for="entityForm.type">type</label>
  <select class="form-control" ng-model="entity.type" id="entityForm.type">
    <option value="natural">Физ-лицо</option>
    <option value="legal">Юр-лицо</option>
  </select>
</div>
<div ng-show="naturalPerson">
  <div class="form-group">
    <label for="entityForm.first_name">Имя</label>
    <input type="text" class="form-control" id="entityForm.first_name" placeholder="Имя" ng-model="entity.first_name">
  </div>
  <div class="form-group">
    <label for="entityForm.middle_name">Отчество</label>
    <input type="text" class="form-control" id="entityForm.middle_name" placeholder="Отчество" ng-model="entity.middle_name">
  </div>
  <div class="form-group">
    <label for="entityForm.last_name">Фамилия</label>
    <input type="text" class="form-control" id="entityForm.last_name" placeholder="Фамилия" ng-model="entity.last_name">
  </div>
  <div class="form-group">
    <label for="entityForm.passport">Паспорт</label>
    <input type="text" class="form-control" id="entityForm.passport" placeholder="Паспорт" ng-model="entity.passport">
  </div>
  <div class="form-group">
    <label for="entityForm.birth_date">Дата рождения</label>
    <div class='input-group date'>
      <input type='text' class="form-control" datetimepicker format="MMMM DD, YYYY" ng-model="entity.birth_date">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
</div>
<div ng-show="legalPerson">
  <div class="form-group">
    <label for="entityForm.organization_name">Название Организаций</label>
    <input type="text" class="form-control" id="entityForm.organization_name" placeholder="Название Организаций" ng-model="entity.organization_name">
  </div>
  <div class="form-group">
    <label for="entityForm.legal_name">Юридическое название</label>
    <input type="text" class="form-control" id="entityForm.legal_name" placeholder="Юридическое название" ng-model="entity.legal_name">
  </div>
  <div class="form-group">
    <label for="entityForm.inn">ИНН</label>
    <input type="number" class="form-control" id="entityForm.inn" placeholder="ИНН" ng-model="entity.inn">
  </div>
  <div class="form-group">
    <label for="entityForm.requeriments">Реквизиты</label>
    <input type="text" class="form-control" id="entityForm.requeriments" placeholder="Реквизиты" ng-model="entity.requeriments">
  </div>
</div>
<div class="form-group">
  <label for="entityForm.telephone">Телефон</label>
  <input type="text" class="form-control" id="entityForm.telephone" placeholder="Телефон" ng-model="entity.telephone">
</div>
<div class="form-group">
  <label for="entityForm.address">Адрес</label>
  <input type="text" class="form-control" id="entityForm.address" placeholder="Адрес" ng-model="entity.address">
</div>
<div class="form-group">
  <label for="entityForm.email">Электронная почта</label>
  <input type="email" class="form-control" id="entityForm.email" placeholder="Электронная почта" ng-model="entity.email">
</div>
<div class="form-group">
  <label for="entityForm.comments">Коментарии</label>
  <input type="text" class="form-control" id="entityForm.comments" placeholder="Коментарии" ng-model="entity.comments">
</div>
