
<form ng-submit="onSubmit()">
  <h3>Я - мои данные</h2>
  <hr>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="ФИО" ng-model="user.name" />
    <span class="input-group-addon"></span>
  </div>
  <br>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Почта" ng-model="user.email" />
    <span class="input-group-addon">@pochta.com</span>
  </div>
  <br>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Комменты" ng-model="user.comments" />
    <span class="input-group-addon"></span>
  </div>
  <br>
  <button class="btn btn-primary" type="submit">Обновить</button>
</form>
<hr>
<a class="btn btn-default" ui-sref="main">Отмена</a>
