<div class="form-group">
  <label for="entityForm.article">Артикул</label>
  <input type="text" class="form-control" id="entityForm.article" placeholder="Артикул" ng-model="entity.article" required>
</div>
<div class="form-group">
  <label for="entityForm.name">Название</label>
  <input type="text" class="form-control" id="entityForm.name" placeholder="Название" ng-model="entity.name" required>
</div>
<div class="form-group">
  <div class="col-xs-6">
    <label for="entityForm.price">Цена</label>
    <input type="number" class="form-control" id="entityForm.price" placeholder="Цена" ng-model="entity.price">
  </div>
  <div class="col-xs-6">
    <label for="entityForm.currency">Валюта</label>
    <select class="form-control" ng-model="entity.currency" ng-options="value.type as value.text for value in currencyTypes" id="entityForm.currency"></select>
  </div>
</div>

<div class="form-group">
  <label for="entityForm.description">Описание</label>
  <input type="text" class="form-control" id="entityForm.description" placeholder="Описание" ng-model="entity.description">
</div>

<div class="form-group">
  <label for="entityForm.categoryId">Категория</label>
  <ui-select ng-model="entity.category"
             theme="bootstrap"
             ng-disabled="disabled"
             reset-search-input="false">
    <ui-select-match placeholder="Категория...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="category in categories track by $index"
             refresh="refreshCategories($select.search)"
             refresh-delay="0">
      <div ng-bind-html="category.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>

<div class="form-group">
  <label for="entityForm.providerId">Производитель</label>
  <ui-select ng-model="entity.provider"
             theme="bootstrap"
             ng-disabled="disabled"
             reset-search-input="false">
    <ui-select-match placeholder="Производитель...">{{$select.selected.organization_name}}</ui-select-match>
    <ui-select-choices repeat="provider in providers track by $index"
             refresh="refreshProviders($select.search)"
             refresh-delay="0">
      <div ng-bind-html="provider.organization_name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>

<div class="form-group">
  <label for="entityForm.comments">Коментарии</label>
  <input type="text" class="form-control" id="entityForm.comments" placeholder="Коментарии" ng-model="entity.comments">
</div>