<tr>
  <td>№{{ entity.commercialProposalId }}, от {{ entity.createdAt | date:'dd MMM yyyy' }}, {{ entity.client.first_name }} {{ entity.client.last_name }}<br>Комментарий: {{ entity.comments }}<br>Состояние БЗ: <span ng-if="entity.status==='-'">Не оплачен</span><span ng-if="entity.status==='ok'">Оплачен</span><span ng-if="entity.status==='cancel'">Отменён</span></td>
  <!-- <standar behavior -->
   <td class="entity-row-action">
<!--    <a ui-sref="{{base}}.detail({ id: {{entity.id}} })" class="btn btn-default glyphicon glyphicon-info-sign"></a>-->
    <a ui-sref="{{base}}.edit.detail.extra({ id: {{entity.id}} })" class="btn btn-default glyphicon glyphicon-info-sign"></a>
  </td>
  <!-- standar behavior> -->
</tr>
