<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <p>
        <a class="btn btn-default" ui-sref="main.client.show" role="button">Clients &raquo;</a>
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        <a class="btn btn-default" ui-sref="main.brokers.show" role="button">Brokers &raquo;</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>
        <a class="btn btn-default" ui-sref="main.goods.show" role="button">Goods &raquo;</a>
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        <a class="btn btn-default" ui-sref="main.producers.show" role="button">Producers &raquo;</a>
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        <a class="btn btn-default" ui-sref="main.providers.show" role="button">Providers &raquo;</a>
      </p>
    </div>
  </div>
  <div ui-view></div>
</div>