<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary"><span ng-click="filterByOk()">
    <input type="radio" name="options" autocomplete="off">Согласованные</span>
  </label>
  <label class="btn btn-primary"><span ng-click="filterByOpen()">
    <input type="radio" name="options" autocomplete="off">Несогласованные</span>
  </label>
  <label class="btn btn-primary"><span ng-click="filterByCancel()">
    <input type="radio" name="options" autocomplete="off">Отменены</span>
  </label>
  <label class="btn btn-primary active"><span ng-click="noFilter()">
    <input type="radio" name="options" autocomplete="off" checked>Все КП</span>
  </label>
</div>
