
<div class="form-group">
  <label for="entityForm.clientId">Клиент</label>
  <ui-select ng-model="entity.client"
             theme="bootstrap"
             ng-disabled="disabled"
             reset-search-input="false">
    <ui-select-match placeholder="Клиент...">{{$select.selected.first_name ? $select.selected.first_name : ''}} {{$select.selected.middle_name ? $select.selected.middle_name : ''}} {{$select.selected.last_name ? $select.selected.last_name : ''}}</ui-select-match>
    <ui-select-choices repeat="client in clients"
             refresh="refreshClients($select.search)"
             refresh-delay="0">
      <div ng-bind-html="(client.first_name ? client.first_name : '') + ' ' + (client.middle_name ? client.middle_name : '') + ' ' + (client.last_name ? client.last_name : '') | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>

<div class="form-group">
  <label for="entityForm.brokerId">Дизайнер</label>
  <ui-select ng-model="entity.broker"
             theme="bootstrap"
             ng-disabled="disabled"
             reset-search-input="false">
    <ui-select-match placeholder="Дизайнер...">
      {{$select.selected.first_name ? $select.selected.first_name : ''}} {{$select.selected.last_name ? $select.selected.last_name : ''}}
      {{$select.selected.organization_name}} {{$select.selected.legal_name ? $select.selected.legal_name : ''}}
    </ui-select-match>
    <ui-select-choices repeat="broker in brokers"
             refresh="refreshBrokers($select.search)"
             refresh-delay="0">
      <div ng-if="broker.type === 'natural'" ng-bind-html="(broker.first_name ? broker.first_name : '') + ' ' + (broker.middle_name ? broker.middle_name : '') + ' ' + (broker.last_name ? broker.last_name : '') | highlight: $select.search"></div>
      <div ng-if="broker.type === 'legal'" ng-bind-html="(broker.organization_name ? broker.organization_name : '') + ' ' + (broker.legal_name ? broker.legal_name : '') | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>

<div class="form-group">
  <label for="entityForm.alert_date">Звонок клиенту</label>
  <div class='input-group date'>
    <input type='text' class="form-control" datetimepicker format="MMMM DD, YYYY" ng-model="entity.alert_date" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>

<div class="form-group">
  <label for="entityForm.sent_date">Дата отправки КП</label>
  <div class='input-group date'>
    <input type='text' class="form-control" datetimepicker format="MMMM DD, YYYY" ng-model="entity.sent_date" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>

<div class="form-group">
  <label for="entityForm.comments">Коментарии</label>
  <input type="text" class="form-control" id="entityForm.comments" placeholder="Коментарии" ng-model="entity.comments">
</div>

<div class="form-group" ng-if="entity.id">
  <label for="entityForm.status">Статус</label>
  <select id="entityForm.status" ng-model="entity.status" class="form-control" ng-options="value.type as value.text for value in statusTypes" placeholder="Статус" ng-disabled="entity.status!=='-'"></select>
</div>


<!-- Modal -->
<div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeStatusModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelStatusChange()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="changeStatusModalLabel">Действительно ли?</h4>
      </div>
      <div class="modal-body">
        Если поменять статус КП в "Согласовано" или в "Отменено" то нельзя поменять обратно в "Не согласовано".
        Вы будете менять статус?
        <br>
        Не забудьте сохранить изменения
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelStatusChange()">Нет</button>
        <button type="button" class="btn btn-primary" ng-click="confirmStatusChange()">Да</button>
      </div>
    </div>
  </div>
</div>
