
<div class="form-group">
  <label for="entityForm.clientId">Клиент</label>
  <ui-select ng-model="entity.client"
             theme="bootstrap"
             ng-disabled="disabled"
             reset-search-input="false">
    <ui-select-match placeholder="Клиент...">{{$select.selected.first_name}}</ui-select-match>
    <ui-select-choices repeat="client in clients track by $index"
             refresh="refreshClients($select.search)"
             refresh-delay="0">
      <div ng-bind-html="client.first_name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>

<div class="form-group">
  <label for="entityForm.brokerId">Брокер</label>
  <ui-select ng-model="entity.broker"
             theme="bootstrap"
             ng-disabled="disabled"
             reset-search-input="false">
    <ui-select-match placeholder="Брокер...">
      {{$select.selected.legal_name}}
    </ui-select-match>
    <ui-select-choices repeat="broker in brokers track by $index"
             refresh="refreshBrokers($select.search)"
             refresh-delay="0">
      <div ng-bind-html="broker.legal_name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>

<div class="form-group">
  <label for="entityForm.alert_date">Дата оповещания</label>
  <div class='input-group date'>
    <input type='text' class="form-control" datetimepicker format="MMMM DD, YYYY" ng-model="entity.alert_date" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>

<div class="form-group">
  <label for="entityForm.sent_date">Дата отправки</label>
  <div class='input-group date'>
    <input type='text' class="form-control" datetimepicker format="MMMM DD, YYYY" ng-model="entity.sent_date" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>

<div class="form-group">
  <label for="entityForm.comments">Коментарии</label>
  <input type="comments" class="form-control" id="entityForm.comments" placeholder="Коментарии" ng-model="entity.comments">
</div>
