<div class="form-group">
  <label for="entityForm.prepayment">Аванс</label>
  <input type="number" class="form-control" id="entityForm.prepayment" placeholder="Аванс" ng-model="entity.prepayment" required>
</div>
<div class="form-group">
  <label for="entityForm.discount">Скидка %</label>
  <input type="number" class="form-control" id="entityForm.discount" placeholder="Скидка %" ng-model="entity.discount" required>
</div>
<div class="form-group">
  <label for="entityForm.comments">Коментарии</label>
  <input type="comments" class="form-control" id="entityForm.comments" placeholder="Коментарии" ng-model="entity.comments">
</div>
<div class="form-group" ng-if="entity.id">
  <label for="entityForm.status">Статус</label>
  <select id="entityForm.status" ng-model="entity.status" class="form-control" ng-options="value.type as value.text for value in statusTypes" placeholder="Статус" ng-disabled="entity.status!=='-'"></select>
</div>

