<hr>
<!--{{ totalQuantity }} шт, итого ${{ totalPrice }}<br>-->
<table class="table">
  <caption>Список товаров</caption>
  <thead>
    <tr>
      <th>Название</th>
      <th>Цена<br>Количество</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="entry in entriesCommpropGoods">
      <td>{{entry.good.name}}</td>
      <td>{{entry.quantity}} шт, {{entry.price}} {{entry.currency}}<br>{{entry.price*entry.quantity}} {{entry.currency}}</td>
      <td><button ng-disabled=checkStatus() ng-click="onRemoveCommpropGoods(entry)" class="btn btn-default glyphicon glyphicon-remove"></button></td>
    </tr>
    <tr>
      <td>
        <ui-select ng-model="entry.good"
             ng-disabled=checkStatus()
             theme="bootstrap"
             ng-disabled="disabled"
             reset-search-input="false"
             on-select="onSelectGood($item, $model)">
          <ui-select-match placeholder="Товар...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="good in goods track by $index"
                   refresh="refreshGoods($select.search)"
                   refresh-delay="0">
            <div ng-bind-html="good.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </td>
      <td>
        <input ng-disabled=checkStatus() ng-model="price" type="number" class="form-control" /><br>
        <label>Валюта</label>
        <select class="form-control" ng-model="currency" ng-options="value.type as value.text for value in currencyTypes"></select><br>
        <label>Количество</label>
        <input ng-disabled=checkStatus() ng-model="quantity" type="number" class="form-control" /></td>
      <td><button ng-disabled=checkStatus() ng-click="onAddCommpropGoods()" class="btn btn-default glyphicon glyphicon-plus"></button></td>
    </tr>
  </tbody>
</table>