<hr>
<!--{{ totalQuantity }} шт, итого ${{ totalPrice }}<br>-->
<table class="table">
  <caption>Список товаров</caption>
  <thead>
    <tr>
      <th>Название</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="entry in entriesCommpropGoods">
      <td>
        {{entry.good.name}}
        <br>
        {{entry.quantity}} шт, {{entry.price}} {{entry.currency}} = {{entry.price*entry.quantity}} {{entry.currency}}
        <br>
        Срок поставки {{entry.delivery_period}}
      </td>
      <td><button ng-click="onRemoveCommpropGoods(entry)" class="btn btn-default glyphicon glyphicon-remove"></button></td>
    </tr>
    <tr>
      <td>
        <ui-select ng-model="entry.good"
             theme="bootstrap"
             reset-search-input="false"
             on-select="onSelectGood($item, $model)">
          <ui-select-match placeholder="Товар...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="good in goods"
                   refresh="refreshGoods($select.search)"
                   refresh-delay="0">
            <div ng-bind-html="good.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <label>Цена Продажи</label>
        <input ng-disabled="!entry.good" ng-model="entry.price" type="number" class="form-control" /><br>
        <label>Валюта</label>
        <select ng-disabled="!entry.good" ng-model="entry.currency" class="form-control" ng-options="value.type as value.text for value in currencyTypes"></select><br>
        <label>Количество</label>
        <input ng-disabled="!entry.good" ng-model="entry.quantity" type="number" class="form-control" /><br>
        <label>Срок поставки</label>
        <input ng-disabled="!entry.good" ng-model="entry.delivery_period" type='text' class="form-control">
      </td>
      <td>
        <button ng-disabled="!entry.good" ng-click="onAddCommpropGoods()" class="btn btn-default glyphicon glyphicon-plus"></button>
      </td>
    </tr>
  </tbody>
</table>
<span ng-if="totalPriceRUB">Итого {{totalPriceRUB}} RUB<br></span>
<span ng-if="totalPriceUSD">Итого {{totalPriceUSD}} USD<br></span>
<span ng-if="totalPriceEUR">Итого {{totalPriceEUR}} EUR<br></span>
